# Secrets de Streamlit (NO subir)
.streamlit/secrets.toml

# Variables de entorno locales (API keys) — NO subir
.env

# Cache / basura python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.venv/
venv/
env/

# Archivos locales
*.log
*.tmp
.DS_Store

# Datos reales de clientes (NO subir)
*.xlsx
*.xls
Guias_fenix.xlsx
1780493515239Envios_Encargomio.xlsx
1780495041874Reporte_Casillero.xlsx

# Script de prueba local
test_fenix.py